.columnRight {
    float: left;
    width: 19%;
    height: 100%;
    display: block;
  }

.columnLeft {
    float: left;
    width: 80%;
    height: 100%;
    display: block;
  }

.columnHalf {
    float: left;
    width: 50%;
    display: block;
  }

#map
{
    height: 95%;
    width: 100%;
}
  


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaflet {
  background: pink;
}

#base{
  height:1000px;
  width:100%;
  margin: auto;
}